<ion-header>
  <ion-toolbar> 
    <a style="padding:10px" (click)="typechang(1)"  [ngClass]="{active:type==1}" >我创建的</a>
    <a style="padding:10px" (click)="typechang(2)" [ngClass]="{active:type==2}" > 我加入的</a> 
    <a style="padding:10px" (click)="doBSFun()"  > 扫一扫</a>  
    <ion-icon (click)="presentPopover(1)" style="float:right;padding-right:20px;font-size: 20px;" name="add-outline"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-list *ngIf="type==1" > 
  
</ion-list>


<ion-list *ngIf="type==2">
  
 
</ion-list>

