.ion-color-favorite {
    --ion-color-base: #3462fc;
    --ion-color-base-rgb: 68,217,230;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade: #3462fc;
    --ion-color-tint: #3462fc;
  }
  
  img{
    height: 100%;
  }
  